HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
ALLOWED_ORIGINS=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT = 10s

REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_TTL=

LOGGER_LEVEL=DEBUG

TIME_ZONE=UTC